
*{
    box-sizing: border-box;
}

.iconos{
    font-size: 60px;
    margin-right: auto;
    margin-left: 1300px;
    text-align: center;

    margin-top: 200px;
}

.micro{
    margin-left: 80px;
}


header{
    margin-bottom: 290px;
}

h1{
    margin-top: 10px;
    text-align: center;
    font-size: 135px;
    font-weight: bold;
    color:brown;
    font-family: 'Irish Grover';
        margin-bottom: 130px;
}


.titulos{
    margin-bottom: 25px;
    font-size: 25px;



}

.historias{
    text-align: center;
    margin-left: -190px;
}
.chistes{
    margin-top: -62px;
    margin-left: 1100px;
    text-align: center;

    
}


.fichas{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.ficha{
    width: 340px;
    height: 320px;
    border: 1px solid #d5d5d5;
    box-shadow: 1px 5px 10px grey;
    margin: 15px;
    border-radius: 1px;
 
}

.img_ficha{
    padding-top: 150px;
    border: 1px solid;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    
}

.img1{
    background-image: url("../imagenes/1.jpeg");
    

}

.img2{
    background-image: url("../imagenes/2.jpg");
}


.img3{
    background-image: url("../imagenes/3.jpg");
}



a{
    color: black;
    text-decoration: none;
}

.titulo{
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}

.contenido{
    margin-top: 30px;
    text-align: left;
    margin-left: 20px;
    max-width: 320px;


}

.texto_ficha{

    margin-top:  -5px;
    font-size: 18px;
    margin-right: 8px;


}

audio{
    margin-top: 20px;
}

.ficha_audio{
    width: 340px;
    height: 320px;
    border: 1px solid #d5d5d5;
    box-shadow: 1px 5px 10px grey;
    border-radius: 1px;
 
}